/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */
body {
  font-family: "Ubuntu", sans-serif;
}

nav {
  font-weight: bold;
  border: 1px solid red;
  margin-top: 25px;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid blue; */
  padding: 0 1em;
}

li {
  list-style-type: none;
  margin: 0 1.5rem;
}

.navigation {
  padding: 2rem 0;

  border: 2px solid magenta;
}
#title {
  font-family: "Lora", serif;
  font-size: 2.1rem;
  color: #143774;
  text-align: center;
  margin: 0;
}

#subtitle {
  font-size: 1rem;
  font-weight: bold;
  color: #1792d2;
}

p {
  margin: 0;
  text-align: center;
}

a,
a:hover,
a:visited {
  color: #707070;
  text-decoration: none;
}

.title {
  border: 1px solid magenta;
  width: 50%;
  margin: 0 auto;
}
