html {
  font-size: 0.9rem;
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
}

.profile-pic {
  width: 200px;
  border: 10px solid whitesmoke;
  border-radius: 200px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 570px;
  margin: 0 auto;
  padding: 0 2em;
}

.bold-text {
  font-weight: 900;
  display: block;
}

h1 .bold-text {
  font-size: 5rem;
}

h2 .bold-text {
  font-size: 3.75rem;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 3.75rem;
  margin-top: 0;
}

h2 {
  font-size: 2.625rem;
  margin-top: 0;
}

h3 {
  font-size: 2.25rem;
  font-weight: 900;
  margin: 0;
}

a {
  color: #99d930;
  font-weight: 900;
}

a:hover,
a:focus {
  color: #131313;
}

.small-text {
  font-size: 1rem;
  margin-top: 0.3125em;
}

p {
  margin-bottom: 0;
}

section {
  padding: 6.25em 0;
}

header {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.inverse {
  color: #fff;
  background: #252525;
}

.btn {
  background-color: #99d930;
  color: #252525;
  padding: 0.75em 1.2em;
  display: inline-block;
  margin-top: 1.5em;
  text-decoration: none;
  border-radius: 0.25em;
}

.btn:hover,
.btn:focus {
  background-color: #252525;
  color: #fff;
}

.lines {
  padding: 0.5em 0;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

section .btn:hover {
  background-color: #fff;
  color: #252525;
}

h1 span,
h2 span,
p span,
p time {
  color: #99d930;
}

h2 span {
  color: #99d930;
}

/* -------------
  MEDIA QUERRIES
  -------------- */

@media (min-width: 600px) {
  html {
    font-size: 1.3125rem;
  }
}

@media (min-width: 750px) {
  .make-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .articles,
  .about-me {
    width: 50%;
    justify-content: center;
  }

  .articles.inverse,
  .articles.inverse .bold-text,
  .articles.inverse .small-text,
  .articles.inverse span,
  .articles.inverse time,
  .articles.inverse a {
    background-color: #99d930;
    color: #252525;
  }

  .lines {
    border-color: #252525;
  }

  .articles.inverse a.btn {
    background-color: #252525;
    color: #fff;
  }

  .articles.inverse a.btn:hover,
  .articles.inverse a.btn:focus {
    background-color: #fff;
    color: #252525;
  }

  .portfolio {
    background-color: #252525;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .portfolio .container {
    max-width: 1200px;
  }

  .portfolio-item {
    width: 28%;
  }

  .work {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .portfolio .container h2.lines {
    border-color: #fff;
  }

  .portfolio-item img {
    height: 15em;
    width: 100%;
    object-fit: cover;
  }
}
